body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('Background.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Deaktiviert das Scrollen */
}

.countdown {
  text-align: center;
  color: white;
  font-size: 9em; /* Ändere die Schriftgröße nach Bedarf */
}
